<header>
    <nav>
      <% if current_user %>
        <button class="logout"><a href="/logout">Log Out</a></button>
        <button class="create_form"><a href="/create_form">Create From</a></button>
      <% else %>
        <button class="login"><a href="/login">Log In</a></button>
        <button class="signup"><a href="/signup">Sign Up</a></button>
      <% end %>
    </nav>
</header>
<% if @surveys %>
  <% @surveys.each do |s| %>
    <div class="survey">
      <h1>
        <% if @user %>
         <a href="/form/<%= s.id%>"><%= s.title %></a>
        <% else %>
        <a href="/signup"><%= s.title %></a>
        <% end %>
      </h1>
    </div>
  <% end %>
<% end %>